@media screen and (max-width:415px) {
    h2 {
        width: 100%;
        max-width: 372px;
        margin: 0 auto;
        font-family: Futura;
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;
        margin-left: -30px;
    }
    .container {
        overflow-x: hidden;
        width: 80%;
        padding: 20px 0 0 20px;
    }
    .btn {
        margin-top: 100px;
        margin-left: 20px;
    }
    .pic {
       display: none;
    }
    .woman_small {
        display: block;
        transform: translate(-680px,200px);
    }
    .color_text {
        transform: translate(-380px,0);
        text-align: center;
    }
    .menu {
        margin-top: 49px;
    }
    .menu_one {
        width: 257px;
    }
    .last_menu {
        width: 257px;
    }
    .one {
       margin-top: 14px;
    }
    .two {
        margin-top: 25px;
    }
    .three {
        margin-top: 30px;
    }
}